<div class="card rounded shadow-sm p-2 mt-1 bg-white">
  <div class="d-flex">

    <mat-toolbar class="bg-info">
      <div class="flex-fill pr-3 my-1">
        <div class="input-group ">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white">Filtro: </label>
          </div>
          <input type="text" class="form-control mr-2" placeholder="argumento" (input)="companyFilter($event.target)">
        </div>
      </div>
      <button mat-icon-button class="d-flex btn btn-outline-info px-2 mx-2 mt-0 text-white" routerLink="/empresas/detail">
        <mat-icon class="matIcon" matTooltip="Nova Empresa" matTooltipPosition="above">addd</mat-icon>
      </button>
    </mat-toolbar>

  </div>
  <table class="table table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th class="d-none d-md-table-cell d-flex justify-center">
            <a class="text-white" (click)="changeImageState()">
              <mat-icon>{{toggleImage ? 'visibility' : 'visibility_off'}}</mat-icon>
            </a>
        </th>
        <th >#</th>
        <th >Nome Empresa<mat-icon class="pt-1">filter_alt</mat-icon></th>
        <th class="d-none d-md-table-cell" >Nome Fantasia<mat-icon class="pt-1">filter_alt</mat-icon>
        <th >Sigla<mat-icon class="pt-1">filter_alt</mat-icon></th>
          <th >Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="companies && companies.length">
      <tr *ngFor="let company of companies" (click)="companyDetail(company.id)" >
        <td class="d-none d-md-table-cell">
          <img [src]="showBranch(this.company.logotipo)" alt="" [(ngbCollapse)]="!toggleImage">
        </td>
        <td>{{company.id}}</td>
        <td>{{company.razaoSocial}}</td>
        <td class="d-none d-md-table-cell">{{company.nomeFantasia}}</td>
        <td>{{company.siglaEmpresa}}</td>
        <td>
          <div class="btn-group mx-1">
            <a  class="text-danger" (click)="openModal($event, template, company.id, company.razaoSocial)" matTooltip="Excluir" matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td *ngIf="!companies.length" colspan="8" class="text-center">
        <h4>Nenhuma empresa encontrada!</h4>
      </td>
    </tfoot>
  </table>
  <div class="card-footer d-flex p-1 m-0 bg-info" *ngIf="companies.length">
    <div class="justify-content-center m-auto p-0 m-0 mt-3">
      <ngb-pagination
        [collectionSize]="pagination.itemsTotal"
        [(page)]="pagination.currentPage"
        [maxSize]="pagination.totalPages"
        [rotate]="true"
        [boundaryLinks]="true"
        [ellipses]="false"
        (pageChange)="pageChanged($event)"
      ></ngb-pagination>
   </div>
  </div>
</div>

<!--  {{ empresas | json }} -->

<ng-template #template>
  <div class="modal-body text-center">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <p>Exclusão de dados de empresa, confirma?</p>
      </div>
    </div>
    <div class="card-body">
      <p>#{{companyId}} - {{companyName}}?</p>
    </div>
    <div class="card-foorter ms-auto">
    </div>
    <button type="button" class="btn btn-danger" (click)="backOff()" >Não</button>
    <button type="button" class="btn btn-info" (click)="confirmDeletion()" >Sim</button>
  </div>
</ng-template>

<app-spinner *ngIf="spinnerShow"></app-spinner>
