<div class="card rounded shadow-sm p-2 mt-1 bg-white">
  <div class="d-flex">

    <mat-toolbar class="bg-info">
      <div class="flex-fill pr-3 my-1">
        <div class="input-group ">
          <div class="input-group-prepend">
            <label class="input-group-text bg-info text-white">Filtro: </label>
          </div>
          <input type="text" class="form-control mr-2" placeholder="argumento" (input)="jobRoleFilter($event.target)">
        </div>
      </div>
      <button mat-icon-button class="d-flex btn btn-outline-info px-2 mx-2 mt-0 text-white" routerLink="/cargos/detail">
        <mat-icon class="matIcon" matTooltip="Novo Cargo" matTooltipPosition="above">addd</mat-icon>
      </button>
    </mat-toolbar>

  </div>
  <table class="table table-striped table-hover mt-1">
    <thead class="table-info">
      <tr>
        <th >Nome Empresa</th>
        <th >Nome Departamento</th>
        <th >#Cargo</th>
        <th >Nome Cargo<mat-icon class="pt-1">filter_alt</mat-icon></th>
        <th class="d-none d-md-table-cell" >Ativo</th>
        <th >Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="jobRoles && jobRoles.length">
      <tr *ngFor="let jobRole of jobRoles" (click)="jobRoleDetail(jobRole.id)" >
        <td>{{jobRole.empresa.razaoSocial}}</td>
        <td>{{jobRole.departamento.nomeDepartamento}}</td>
        <td>{{jobRole.id}}</td>
        <td>{{jobRole.nomeCargo}}</td>
        <td class="d-none d-md-table-cell" >{{jobRole.ativo }} </td>
        <td>
          <div class="btn-group">
            <a class="text-danger" matTooltip="Excluir" matTooltipPosition="above" (click)="openModal($event, template, jobRole.id, jobRole.nomeCargo)">
              <mat-icon>delete</mat-icon>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td *ngIf="!jobRoles.length" colspan="8" class="text-center">
        <h4>Nenhum cargo encontrado!</h4>
      </td>
    </tfoot>
  </table>

  <div class="card-footer d-flex p-1 m-0 bg-info" *ngIf="jobRoles.length">
    <div class="justify-content-center m-auto p-0 m-0 mt-3">
      <ngb-pagination
        [collectionSize]="pagination.itemsTotal"
        [(page)]="pagination.currentPage"
        [maxSize]="pagination.totalPages"
        [rotate]="true"
        [boundaryLinks]="true"
        [ellipses]="false"
        (pageChange)="pageChanged($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>

<!--
 {{ companies | json }}
 -->

<ng-template #template>
  <div class="modal-body text-center">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <p>Exclusão de dados de cargo, confirma?</p>
      </div>
    </div>
    <div class="card-body">
      <p>#{{cargoId}} - {{CargoName}}?</p>
    </div>
    <div class="card-foorter ms-auto">
    </div>
    <button type="button" class="btn btn-danger" (click)="backOff()" >Não</button>
    <button type="button" class="btn btn-info" (click)="confirmDeletion()" >Sim</button>
  </div>
</ng-template>

<app-spinner *ngIf="spinnerShow"></app-spinner>



