<div class="card rounded shadow-sm p-1">

  <div class="card-header text-center text-white bg-info">
    <div class="h3">Formulário de Funcionários</div>
  </div>

  <div class="card-body p-0 mt-1">
    <div class="row m-0 p-0">
      <div Class="col-md-8">

        <div class="h4 border-bottom ">Dados da Empresa: </div>

        <div class="form-row d-md-flex">
          <mat-form-field class="col-md-6 p-1" appearance="outline">
            <mat-label class="text-info">Empresa</mat-label>
            <mat-select [(ngModel)]="selectCompanyId" (selectionChange)="changeSelectCompany()"
              placeholder="Selecione uma Empresa">
              <mat-option *ngFor="let company of companies"
                [value]="company.id">{{company.razaoSocial}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-6 p-1" appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput type="text" value="{{company.cnpj}}" readonly>
          </mat-form-field>
        </div>

        <div class="h4 border-bottom">Dados do Departamento: </div>

        <div class="form-row d-md-flex">
          <mat-form-field class="col-md-6 p-1" appearance="outline">
            <mat-label class="text-info">Departmaneto</mat-label>
            <mat-select [(ngModel)]="selectDepartmentId" (selectionChange)="changeSelectDepartment()"
              placeholder="Selecione uma Departamento">
              <mat-option *ngFor="let department of departments" [value]="department.id">{{department.nomeDepartamento}} </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-6 p-1" appearance="outline">
            <mat-label>Sigla</mat-label>
            <input matInput type="text" value="{{department.sigla}}" readonly>
          </mat-form-field>
        </div>

        <div class="h4 border-bottom">Dados do Cargo: </div>

        <div class="form-row d-md-flex">
          <mat-form-field class="col-md-6 p-1" appearance="outline">
            <mat-label class="text-info">Cargo</mat-label>
            <mat-select [(ngModel)]="selectJobRoleId" (selectionChange)="changeSelectJobRole()"
              placeholder="Selecione um Cargo">
              <mat-option *ngFor="let jobRole of jobRoles" [value]="jobRole.id">{{jobRole.nomeCargo}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="col-md-4">

        <div class="aligns-self-center text-center pt-1">
          <img class="imageDetail" [src]="logoURL" alt="Card imagem upload imageDetail">
        </div>


      </div>
    </div>

    <form class="mt-1" [formGroup]="formDetail">

        <div class="card-body p-0 mt-1">

          <div class="row m-0 p-0">
            <div>
              <div class="h4 border-bottom ">Dados da conta: </div>
              <mat-form-field class="col-md-3 p-1" appearance="outline">
                <mat-label class="text-info">UserName</mat-label>
                <mat-select [(ngModel)]="selectUserNameId" (selectionChange)="changeSelectUserName()" placeholder="Selecione uma Conta"
                  formControlName="selectUserNameId" [ngClass]="fieldValidator(ctrF.selectUserNameId)">
                  <mat-option *ngFor="let user of users" [value]="user.id">
                    {{user.userName}}
                  </mat-option>
                </mat-select>
                <mat-error class="invalid-feedback">
                  {{messageReturned(ctrF.selectUserNameId, "")}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-5 p-1" appearance="outline" appearance="outline">
                <mat-label >Nome Completo</mat-label>
                <input matInput  type="text" formControlName="nomeCompleto"
                  [ngClass]="fieldValidator(ctrF.nomeCompleto)" readonly>
                <mat-error class="invalid-feedback">
                  {{messageReturned(ctrF.nomeCompleto, "")}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-4 p-1" appearance="outline">
                <mat-label >e-Mail</mat-label>
                <input matInput type="text" formControlName="email"
                  [ngClass]="fieldValidator(ctrF.email)" readonly>
                <mat-error class="invalid-feedback">
                  {{messageReturned(ctrF.email, "")}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3 p-1" appearance="outline">
                <mat-label class="text-info">Telefone</mat-label>
                <input matInput type="text" formControlName="phoneNumber"
                  [ngClass]="fieldValidator(ctrF.phoneNumber)" >
                <mat-error class="invalid-feedback">
                  {{messageReturned(ctrF.phoneNumber, "")}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3 p-1" appearance="outline">
                <mat-label >Visão</mat-label>
                <mat-select [(ngModel)]="selectVisao" formControlName="selectVisao">
                  <mat-option disabled value="Master">Gerencial</mat-option>
                  <mat-option disabled value="Gold">Operacional</mat-option>
                  <mat-option disabled value="Bronze">Funcionário</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row m-0 p-0">
            <div >
              <div class="h4 border-bottom">Dados do Funcionário: </div>

              <mat-form-field class="col-md-3 p-1" appearance="outline">
                <mat-label class="text-info">Data Admissão</mat-label>
                <input matInput [matDatepicker]="dataAdmissao"
                  formControlName="dataAdmissao"
                  [ngClass]="fieldValidator(ctrF.dataAdmissao)">
                <mat-datepicker-toggle matIconSuffix class="text-info" [for]="dataAdmissao"></mat-datepicker-toggle>
                <mat-datepicker #dataAdmissao></mat-datepicker>
                <mat-error class="invalid-feedback">
                  {{messageReturned(ctrF.dataAdmissao, "")}}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3 p-1" appearance="outline">
                <mat-label class="text-info">Data Demissão</mat-label>
                <input matInput [matDatepicker]="dataDemissao" formControlName="dataDemissao"
                  [ngClass]="fieldValidator(ctrF.dataDemissao)">
                <mat-datepicker-toggle matIconSuffix [for]="dataDemissao"></mat-datepicker-toggle>
                <mat-datepicker #dataDemissao></mat-datepicker>
                <mat-error class="invalid-feedback">{{messageReturned(ctrF.dataDemissao, "")}}</mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-3 p-1" appearance="outline">
                <mat-label>Funcionário</mat-label>
                <input matInput type="text" formControlName="nomeCompleto"
                  [ngClass]="fieldValidator(ctrF.nomeCompleto)">
                <mat-error class="invalid-feedback">
                  {{messageReturned(ctrF.nomeCompleto, "")}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

        </div>

        <div class="card-footer bg-info  ">
          <div class="d-flex ">
            <button class="btn btn-danger ms-auto mx-1" (click)="clearForm()">
              Cancelar
            </button>
            <button class="btn btn-primary mx-1 px-4" [disabled]="!formDetail.valid" (click)="saveChange()">
              {{editMode ? "Salvar" : "Criar"}}
            </button>
          </div>
        </div>

      </form>

  </div>

</div>

<div class="card rounded shadow-sm p-1">

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" *ngIf="editMode">
    <mat-tab label="Endereços">
      <app-address > </app-address>
      <router-outlet></router-outlet>
    </mat-tab>
    <mat-tab label="Documentos Pessoais">
      <app-personalDocuments>
      </app-personalDocuments>
      <router-outlet></router-outlet>
    </mat-tab>
    <mat-tab label="Atribuição de Metas">
      <app-goalAssociate>
      </app-goalAssociate>
      <router-outlet></router-outlet>
    </mat-tab>
    <mat-tab label="Minhas Metas">
      <app-myGoals> </app-myGoals>
      <router-outlet></router-outlet>
    </mat-tab>
  </mat-tab-group>

</div>

<!--

  <p>Form Value: {{formDetail.value | json}}</p>
  <p>Form Status: {{formDetail.status | json}}</p>
-->

<ngx-spinner type="ball-scale-multiple" bdColor="rgba(51,51,51,0.8)" size="medium" color="blue">
  <p style="font-size:20px; color: white;">Carregando...</p>
</ngx-spinner>
