<div class="row">

  <div class="col-md-6 d-none d-md-block classArea1">
    <div class="text-center col-md-12 my-auto side-header">
      <div class="h1">Cadastro de Contas</div>
      <img class="imageClass" src="../../../../assets/BadgeRegistration.png">
    </div>
  </div>

  <div class="col-md-6">
    <form class="p-1 bg-light" >
      <div class="pb-2 d-block d-md-none">
        <div class="h4 border-bottom">Cadastro de contas</div>
      </div>
      <div class="form-group p-2">
        <label>Selecione a empresa</label>
        <select class="form-select" id="empresaSelect">
          <option>Xing Ling Corporation</option>
          <option>Xing Ling do Brasil</option>
        </select>
      </div>
      <div class="form-group p-2">
        <label>Conta</label>
        <input type="text" class="form-control" placeholder="Informe sua conta">
        <span class="invalid-feedback"></span>
      </div>
      <div class="form-group p-2">
        <label>Nome Completo</label>
        <input type="text" class="form-control" placeholder="Informe seu nome completo">
      </div>
      <span class="invalid-feedback"></span>
      <div class="form-group p-2">
        <label>Novo email</label>
        <input type="text" class="form-control" placeholder="agaldino@br.xlb.com" disabled>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col-sm-6 p-2">
          <label>Senha</label>
          <input type="password" class="form-control" placeholder="Informe sua senha">
        </div>
        <span class="invalid-feedback"></span>
        <div class="form-group col p-2">
          <label>Confirmar Senha</label>
          <input type="password" class="form-control" placeholder="Confirme sua senha">
        </div>
        <span class="invalid-feedback"></span>
      </div>
      <div class="form-row">
        <div class="d-grid p-1 mt-2 mb-0">
          <button class="btn btn-info btn-block ">Salvar</button>
        </div>
      </div>
    </form>
    <div class="card-footer bg-light">
      <div class="row">
        <div class="d-flex">
          <div class="form-group">
            <a class="btn btn-link btn-block" routerLink="/contas/login">Já Sou Cadastrado</a>
          </div>
          <div class="custom-control custom-checkbox ms-auto">
            <a class="btn btn-link btn-block align-items-center " href="">Recuperar Senha</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



