<div class="card bg-white d-flex p-2">
  <div class="form-row ">
    <div class="form-group col-12 p-1 m-0">
      <div class="h5 pt-3 border-bottom">Torcar Senha</div>
    </div>
  </div>
  <div class="form-row d-md-flex">
    <div class="form-group col-md-6 cold-12 p-1 m-0" >
      <label>Senha</label>
      <input type="password" class="form-control" placeholder="Informe sua senha">
    </div>
    <span class="invalid-feedback"></span>
    <div class="form-group col-md-6 cold-12 p-1 m-0">
      <label>Confirmar Senha</label>
      <input type="password" class="form-control" placeholder="Confirme sua senha">
    </div>
    <span class="invalid-feedback"></span>
  </div>
  <div class="form-row">
    <div class="d-grid p-1 mt-2 mb-0">
      <button class="btn btn-info btn-block ">Salvar</button>
    </div>
  </div>
</div>




