<div class="row g-0 mt-1 p-0">

  <div class="col-md-6 col-sm-12 p-1">

    <div class="text-center col-md-12 my-auto side-header">
      <img class="imageLateral mt-3"
        src="../../../../../assets/img/banner-606x420.png">
    </div>

  </div>

  <div class="col-md-6 cold-sm-12 p-1">

    <div class="card bg-primary">

      <div class="card-header">

        <div class="text-center col-md-12 ">
          <div class="titulo shadow text-white">
            OnPeople Services New Generation
          </div>
        </div>

      </div>

      <div class="card-body bg-white mx-3">

        <form class="row p-0" [formGroup]="formRegister" (submit)="createUser()"
          #registerForm="ngForm">

          <div class="pb-1 d-block d-md-none">
            <div class="h4 border-bottom">Cadastro de contas</div>
          </div>

          <div class="p-1">
            <div class="h1 text-center text-info ">
              <mat-icon class="iconBadge">badge</mat-icon>
            </div>
          </div>

          <div class="form-row d-md-flex p-1">
            <mat-form-field class="form-group col-md-12 p-1">
              <mat-label>Conta</mat-label>
              <mat-icon matPrefix  class="bg-info text-white">person</mat-icon>
              <input matInput type="text" class="form-control" formControlName="userName" [ngClass]="fieldValidator(ctrF.userName)">
              <mat-error class="invalid-feedback">
                {{validatorReturn(ctrF.userName, "")}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row d-md-flex p-1">
            <mat-form-field class="form-group col-md-12 p-1">
              <mat-label>Nome Completo</mat-label>
              <mat-icon matPrefix class="bg-info text-white">remember_me</mat-icon>
              <input matInput type="text" class="form-control" formControlName="nomeCompleto" [ngClass]="fieldValidator(ctrF.nomeCompleto)">
              <mat-error class="invalid-feedback">
                {{validatorReturn(ctrF.nomeCompleto, "")}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row d-md-flex p-1">
            <mat-form-field class="form-group col-md-6 p-1">
              <mat-label>Senha</mat-label>
              <mat-icon matPrefix class="bg-info text-white">key</mat-icon>
              <input matInput type="password" class="form-control" formControlName="password"
                [ngClass]="fieldValidator(ctrF.password)">
              <mat-error class="invalid-feedback">
                {{validatorReturn(ctrF.password, "")}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group col-md-6 p-1">
              <mat-label>Confirmar Senha</mat-label>
              <mat-icon matPrefix class="bg-info text-white">done_all</mat-icon>
              <input matInput type="password" class="form-control" formControlName="confirmPassword" [ngClass]="fieldValidator(ctrF.confirmPassword)">
              <mat-error class="invalid-feedback">
                {{validatorReturn(ctrF.confirmPassword, "Confirmar Senha")}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-row d-md-flex mt-0 p-1">
            <div class="form-group col-12">
              <button class="btn btn-success btn-block col-12 bg-info"
                [disabled]="!formRegister.valid" type="submit">
                Cadastrar
              </button>
            </div>
          </div>

        </form>

      </div>

      <div class="card-footer bg-primary">
        <div class="pt-0">
          <div class="row">
            <div class="d-sm-flex">
              <div class="custom-control custom-check-box">
                <a class="btn btn-link btn-block text-white"
                  routerLink="/users/login">
                  Já sou cadastrado
                </a>
              </div>
              <div class="custom-control custom-check-box ms-auto">
                <a class="btn btn-link btn-block text-white"
                  routerLink="/users/login">
                  Recuperar Senha
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--
<p>Form Value: {{formRegister.value | json}}</p>
<p>Form Status: {{formRegister.status | json}}</p>
-->
