<div class="card rounded shadow-sm p-2 mt-1 bg-light">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <label class="input-group-text bg-info text-white">Filtro: </label>
        </div>
        <input
          type="text"
          class="form-control mr-2"
          placeholder="argumento"
          [(ngModel)]="filtroEmpresa">
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-info ms-1" ngbTooltip="Nova Empresa" routerLink="/empresas/detalhe">
        <fa-icon [icon]="novoIcon" class="novoIcon  py-0"></fa-icon>
      </a>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead class="table-info">
      <tr>
        <th scope="col">#</th>
        <th class="d-none d-md-table-cell" scope="col">Nome Empresa</th>
        <th scope="col">Nome Fantasia</th>
        <th scope="col">Sigla</th>
        <th scope="col">Ativa</th>
        <th class="d-none d-md-table-cell" scope="col">Data Ativação</th>
        <th class="d-none d-md-table-cell" scope="col">Filial</th>
        <th class="d-none d-md-table-cell" scope="col">Matriz</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="empresas && empresas.length">
      <tr *ngFor="let empresa of empresasFiltradas" (click)="detalheEmpresa(empresa.id)" >
        <td>{{empresa.id}}</td>
        <td class="d-none d-md-table-cell">{{empresa.nomeEmpresa}}</td>
        <td>{{empresa.nomeFantasia}}</td>
        <td>{{empresa.sigla}}</td>
        <td>{{empresa.ativa}}</td>
        <td class="d-none d-md-table-cell" >{{empresa.dataCadastro | DateTimeFormatPipe }} </td>
        <td class="d-none d-md-table-cell" >{{empresa.filial}}</td>
        <td class="d-none d-md-table-cell" >{{empresa.matrizId}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-danger btn-lg" ngbTooltip="Excluir" (click)="openModal(template)">
              <fa-icon [icon]="excluirIcon"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td *ngIf="!empresas.length" colspan="8" class="text-center">
        <h4>Nenhuma empresa encontrada!</h4>
      </td>
    </tfoot>
  </table>
  </div>

  {{ empresas | json }}

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja excluir a empresa?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
</ng-template>

<ngx-spinner type="ball-scale-multiple"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="blue"
  >
<p style="font-size:20px; color: white;">Carregando...</p>
</ngx-spinner>
