<div class="card rounded shadow-sm p-1 bg-light">
  <div class="card-header text-center text-white bg-info">
    <div class="h3">Formulário de Empresas</div>
  </div>
  <div class="card-body bg-white">
    <form class="row" [formGroup]="form">

      <p>Form Value: {{form.value | json}}</p>
      <p>Form Status: {{form.status | json}}</p>

      <div class="h4 border-bottom" >Dados da Empresa: </div>
      <div class="form-row d-md-flex">
        <div class="form-group col-md-6 p-1">
          <label>Empresa</label>
          <input type="text" class="form-control" placeholder="Nome da Empresa" formControlName="nomeEmpresa" [ngClass]="validarCampo(fmC.nomeEmpresa)">
          <div class="invalid-feedback">{{retornarValidacao(fmC.nomeEmpresa, "")}}</div>
        </div>
        <div class="form-group col-md-4 p-1">
          <label>Nome Fantasia</label>
          <input type="text" class="form-control" placeholder="Nome Fantasia da Empresa" formControlName="nomeFantasia" [ngClass]="validarCampo(fmC.nomeFantasia)">
          <div class="invalid-feedback">{{retornarValidacao(fmC.nomeFantasia, "")}}</div>
        </div>
        <div class="form-group col-md-2 p-1">
          <label>Sigla</label>
          <input type="text" class="form-control" placeholder="Sigla da Empresa" formControlName="sigla" [ngClass]="validarCampo(fmC.sigla)">
          <div class="invalid-feedback">{{retornarValidacao(fmC.sigla, "")}}</div>
        </div>
      </div>
      <div class="form-row d-md-flex">
        <div class="form-group col-md-3 p-1">
          <label>Ativa</label>
          <select class="form-select form-control" formControlName="ativa" [ngClass]="validarCampo(fmC.ativa)">
            <option Value="false">Não</option>
            <option Value="true">Sim</option>
          </select>
          <div class="invalid-feedback">{{retornarValidacao(fmC.ativa, "")}}</div>
        </div>
        <div class="form-group col-md-3 p-1">
          <label>Data Cadastro</label>
          <div class="form-group">
            <div class="input-group">
              <label class="input-group-text bg-info text-white">
                <fa-icon [icon]="calendarIcon" class="calendarIcon"></fa-icon>
              </label>
              <input
                type="text"
                class="form-control"
                placeholder="Data de cadastro"
                formControlName="dataCadastro"
                value="{{empresa.dataCadastro | DateTimeFormatPipe}}"
                bsDatepicker
                [bsConfig]="bsConfig"
                [ngClass]="validarCampo(fmC.dataCadastro)">
              <div class="invalid-feedback">{{retornarValidacao(fmC.dataCadastro, "")}}</div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-3 p-1">
          <label>Data Desativação</label>
          <div class="form-group">
            <div class="input-group">
              <label class="input-group-text bg-info text-white">
                <fa-icon [icon]="calendarIcon" class="calendarIcon"></fa-icon>
              </label>
              <input
                type="datetime"
                class="form-control"
                placeholder="Data desativação"
                formControlName="dataDesativacao"
                value="{{empresa.dataDesativacao | DateTimeFormatPipe}}"
                bsDatepicker
                [bsConfig]="bsConfig"
                [ngClass]="validarCampo(fmC.dataDesativacao)">
                <div class="invalid-feedback">{{retornarValidacao(fmC.dataDesativacao, "")}}</div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-3 p-1">
          <label>É uma Filial?</label>
          <span class="form-control">
             {{empresaMatriz ? "Não" : "Sim"}}
          </span>
        </div>
      </div>
      <div class="form-row d-md-flex">
        <div class="form-group col-md-6 p-1">
          <label>Padrão de email</label>
          <input class="form-control" placeholder="@xx.xxxxx.xxx" formControlName="padraoEmail" [ngClass]="validarCampo(fmC.padraoEmail)" >
          <div class="invalid-feedback">{{retornarValidacao(fmC.padraoEmail, "")}}</div>
        </div>
        <div class="form-group col-md-6 p-1" *ngIf="!this.empresaMatriz">
          <label>Empresa Matriz</label>
          <span class="form-control">
            {{nomeMatriz}}
         </span>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer bg-info  ">
    <div class="d-flex ">
      <button class="btn btn-danger ms-auto mx-1" (click)="limparFormulario()">
        Cancelar
      </button>
      <button class="btn btn-primary mx-1 px-4" [disabled]="!form.valid" (click)="salvarAlteracao()">
        {{estadoBotao}}
      </button>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="blue"
  >
<p style="font-size:20px; color: white;">Carregando...</p>
</ngx-spinner>

