<div class="card bg-default d-flex p-2">
  <form class="" >
    <div class="form-row">
      <div class="form-group col-12 p-1 m-0">
        <div class="h5 pt-3 border-bottom">Detalhe Perfil</div>
      </div>

      <div class="form-row d-md-flex">
        <div class="form-group col-md-6 col-12 p-1 m-0">
          <label>Empresa</label>
          <span type="text" class="form-control" disabled>Xing Ling do Brasil</span>
        </div>
        <div class="form-group col-md-6 col-12 p-1 m-0">
          <label>Conta</label>
          <span type="text" class="form-control" disabled>fulano.junior</span>
        </div>
      </div>
      <div class="form-row d-md-flex">
        <div class="form-group col-md-6 col-12 p-1 m-0">
          <label>Nome Completo</label>
          <input type="text" class="form-control" placeholder="Informe seu nome completo">
        </div>
        <span class="invalid-feedback"></span>
        <div class="form-group col-md-6 col-12 p-1 m-0">
          <label>email</label>
          <span type="text" class="form-control" disabled>fulano.junior@br.xlb.com</span>
        </div>
      </div>
      <div class="form-row d-flex">
        <div class="form-group col-md-6 col-12 p-1 m-0">
          <label>Telefone</label>
          <input type="text" class="form-control" placeholder="Informe seu telefone">
        </div>
        <span class="invalid-feedback"></span>
      </div>
      <div class="form-row">
        <div class="form-group col-12 p-1 m-0">
          <label>Mini Currículo</label>
          <textarea type="password" class="form-control" placeholder="Descreva suas experiencias profissionais"></textarea>
        </div>
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="d-grid mt-2 p-1 ">
      <button class="btn btn-info btn-block ">Salvar</button>
    </div>
  </form>
</div>

